{% extends 'index.html' %}
{% load static %}
{% block title %}Discussion | {{ course.name }} {% endblock title %}
{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% if faculty %}{% url 'facultyCourses' %} {% else %}
{% url 'myCourses' %}
{% endif %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            {% if faculty %}
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
                  Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            {% else %}
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'myCourses' %}">My
                  Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'course' course.code %}">{{ course.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Discussion</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->

   <div class="container shadow p-3 rounded">
      <div class="d-flex flex-column m-3">
         {% if faculty %}
         <form action="{% url 'send_fac' course.code faculty.faculty_id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3 p-3">
               {% comment %} <input type="text" class="form-control" placeholder="Write message..." name="content" required> {% endcomment %}
               {{ form.content }}
               <button class="btn btn-primary mx-2 rounded" type="submit">Send</button>
            </div>
         </form>
         {% else %}
         <form action="{% url 'send' course.code student.student_id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3 p-3">
               {% comment %} <input type="text" class="form-control" placeholder="Write message..." name="content" required> {% endcomment %}
               {{ form.content }}
               <button class="btn btn-primary mx-2 rounded" type="submit" id="button">Send</button>
            </div>
         </form>
         {% endif %}

         {% if discussions %}
         <p class="fst-italic text-muted">Showing newest first</p>
         {% for discussion in discussions %}
         <div class="m-2 p-3">
            <div class="d-flex align-items-center">
               <img class="align-self-baseline rounded-circle" src="/media/{{ discussion.author.photo}}" alt="image"
                  style="height: 4rem;width:4rem;">
               <div class="mx-2">
                  {% if discussion.author.role == "Faculty" %}
                  <div class="d-inline-flex flex-wrap">
                     <span class="fw-bold">{{discussion.sent_by}}</span><span class="fw-bold rounded text-success bg-success bg-opacity-10 mx-2 p-1" style="font-size:11px">Course teacher</span>
                  </div>
                  {% else %}
                  <span class="fw-bold">{{discussion.sent_by}}</span>
                  {% endif %}
                  <span class="text-muted mx-2" style="font-size:smaller">{{ discussion.time }}</span>
                  <p class="text-wrap text-break my-2 px-2">{{discussion.content}}
                  </p>
               </div>
            </div>
         </div>
         <!-- divider -->
         <div style="border-bottom:1px solid rgb(211, 209, 209);"></div>
         {% comment %} message ends {% endcomment %}
         {% endfor %}
         {% else %}
         <div class="text-center fs-6 text-muted">
            Be the first to start the discussion
         </div>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}

