{% extends 'index.html' %}

{% block title %}Discussion | {{ course.name }} {% endblock title %}

{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% if faculty %}{% url 'facultyCourses' %} {% else %}
{% url 'myCourses' %}
{% endif %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            {% if faculty %}
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
                  Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            {% else %}
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'myCourses' %}">My
                  Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'course' course.code %}">{{ course.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Discussion</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="container shadow p-3 rounded">
      <div class="d-flex flex-column m-3">
         {% if faculty %}
         <form action="{% url 'send_fac' course.code faculty.faculty_id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3 p-3">
               <input type="text" class="form-control" placeholder="Write message..." name="content" required>
               <button class="btn btn-primary mx-2 rounded" type="submit">Send</button>
            </div>
         </form>
         {% else %}
         <form action="{% url 'send' course.code student.student_id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3 p-3">
               <input type="text" class="form-control" placeholder="Write message..." name="content" required>
               <button class="btn btn-primary mx-2 rounded" type="submit" id="button">Send</button>
            </div>
         </form>
         {% endif %}

         {% if discussions %}
            <p class="fst-italic text-muted">Showing newest first</p>
         {% for discussion in discussions %}
         <div class="m-2 p-3">
            <div class="d-flex align-items-center">
               <img class="align-self-baseline rounded-circle" src="/media/{{ discussion.author.photo}}" alt="image"
                  style="height: 4rem;width:4rem;">
               <div class="mx-2">
                  {% if discussion.author.role == "Faculty" %}
                  <h6 class="d-inline bg-success text-light rounded px-2">{{discussion.sent_by}}</h6>
                  {% else %}
                  
                  <h6 class="d-inline fw-bold">{{discussion.sent_by}}</h6>
                  {% endif %}
                  <span class="text-muted mx-2">{{ discussion.sent_at }}</span>
                  <p class="text-wrap text-break my-2 px-2">{{discussion.content}}
                  </p>
               </div>
            </div>
         </div>            
         {% endfor %}
         {% else %}
         <div class="text-center fs-6 text-muted">
            No one has started a discussion yet
         </div>
         {% endif %}

      </div>
   </div>
</div>

{% endblock %}