{% extends 'index.html' %}
{% block title %}Attendance | {{ course.name }} {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} 
{% block content %}
{% comment %} alert {% endcomment %}
{% if messages %}
{% for message in messages %}
<div class="text-center alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
   <span class="fw-bold"> {{ message }}</span>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% if error %}
<div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
   <span class="fw-bold"> {{ error }}</span>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% comment %} alert ends {% endcomment %}

<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
               Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Attendance</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
</div>
<div class="container">
   <div class="d-flex rounded flex-row p-2 border justify-content-end" style="background-color:rgb(250,250,250)">
      <div>
         <form method="POST" action="{% url 'createRecord' course.code %}">
            {% csrf_token %} 
            <input name="dateCreate" type="date" class="border border-secondary px-2" required>
            <button type="submit" class="btn btn-sm btn-primary mx-1 px-3">
            Create Attendance Record
            </button>
         </form>
      </div>
   </div>
   <p>
      {% if attendace %}
      Attendance entry for {{date}}
      {% endif %}
   </p>
   <div>
      <form action="{% url 'loadAttendance' course.code %}"  method="post">
         {% csrf_token %}
         <input type="date" name="date" required>
         <button type="submit" class="btn btn-sm btn-success">Load</button>
      </form>
   </div>
   <div class="table-responsive-sm">
   <table class="table my-3 text-center">
      <thead class="table-dark">
         <tr>
            <th scope="col" colspan="2">Student</th>
            <th scope="col">ID</th>
            <th scope="col">Total Absence</th>
            <th scope="col">Total Present</th>
            <th scope="col" colspan="2">Attendance</th>
         </tr>
      </thead>
      <tbody class="table-group-divider">
         <form action="{% url 'submitAttendance' course.code %}"  method="post">
            {% csrf_token %}
            {% for attendance in attendance %}
            <tr class="text-center">
               <td><img class="align-self-baseline rounded-circle" src="/media/{{ attendance.student.photo}}" alt="image"
                  style="height: 4rem;width:4rem;"></td>
               <td>{{attendance.student.name}}</td>
               <td>{{attendance.student.student_id}}</td>
               <td>{{attendance.total_absent}}</td>
               <td>{{attendance.total_present}}</td>
               <td >
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="{{attendance.student.student_id}}" id="inlineRadio1{{forloop.counter}}" value="1">
                     <label class="form-check-label" for="inlineRadio1{{forloop.counter}}">Present</label>
                  </div>
               </td>
               <td>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="{{attendance.student.student_id}}" id="inlineRadio2{{forloop.counter}}" value="0">
                     <label class="form-check-label" for="inlineRadio2{{forloop.counter}}">Absent</label>
                  </div>
               </td>
            </tr>
            {% endfor %}
            <tr>
               <input type="hidden" name="datehidden" value="{{date}}" required>
            </tr>
      </tbody>
   </table>
   </div>
   <div class="d-flex flex-row-reverse p-2 border rounded" style="background-color: rgb(250, 250, 250);">
   <span>
   </span> 
   <a href=" {% url 'faculty' course.code %}" class="btn btn-sm btn-danger">Discard</a>
   <button type="submit" class="btn btn-sm btn-primary px-3 mx-1">Save</button>
   </form>
   </div>
</div>

<script>
   $(document).ready(function(){
     setTimeout(function(){
       $(".alert").alert('close');
     },4000);
   });
</script>
{% endblock %}