{% extends 'index.html' %}
{% block title %}Add Question {{quiz.title}} | {{ course.name }} {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} 
{% block content %}
{% comment %} alert {% endcomment %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   <span> {{ message }}</span>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% comment %} alert ends {% endcomment %}

<div class="container" id="con">
{% comment %} navigation links {% endcomment %}
<div class="container shadow-sm">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
            Courses</a>
         </li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'allQuizzes' course.code %}">Quizzes</a></li>
         <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page"> Add Question-{{quiz.title}}</li>
      </ol>
   </nav>
</div>
{% comment %} navigation links end  {% endcomment %}

<div class="container shadow-sm rounded p-4 animate__animated animate__zoomInLeft" style="max-width: 768px;">
   <p class="text-start">Add Question for <span class="fw-bold">"{{quiz.title}}"</span></p>
   <form action=" {% url 'addQuestion' course.code quiz.id %} " method="post">
      {% csrf_token %}
      <div class="mb-3 row">
         <label for="textarea" class="col-sm-2 col-form-label fw-bold">Question {{quiz.question_sl}}</label>
         <div class="col-sm-10">
            <textarea class="form-control" id="textarea" style="height: 100px;" name="question" required></textarea>
         </div>
      </div>
      <div class="mb-3 row">
         <label for="option" class="col-sm-2 col-form-label fw-bold">Option A</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="option" name="option1" required>
         </div>
      </div>
      <div class="mb-3 row">
         <label for="option" class="col-sm-2 col-form-label fw-bold">Option B</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="option" name="option2" required>
         </div>
      </div>
      <div class="mb-3 row">
         <label for="option" class="col-sm-2 col-form-label fw-bold">Option C</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="option" name="option3" required>
         </div>
      </div>
      <div class="mb-3 row ">
         <label for="option" class="col-sm-2 col-form-label fw-bold">Option D</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="option" name="option4" required>
         </div>
      </div>
      <div class="mb-3 row">
         <label for="marks" class="col-sm-2 col-form-label fw-bold">Marks</label>
         <div class="col-sm-10">
            <input type="number" min="1" class="form-control" id="marks" name="marks" required>
         </div>
      </div>
      <select class="form-select mb-3" aria-label="Default select example" name="answer" required>
         <option value="">Select Answer</option>
         <option value="A"> A</option>
         <option value="B"> B</option>
         <option value="C"> C</option>
         <option value="D"> D</option>
      </select>
      <div class="mb-3 row">
         <label for="explanantion" class="col-sm-2 col-form-label fw-bold">Explanantion</label>
         <div class="col-sm-10">
            <textarea class="form-control" id="explanantion" style="height: 60px;" name="explanation"></textarea>
         </div>
      </div>
      <div class="p-2 d-flex flex-row-reverse" style="background-color: rgb(250,250,250);">
         <button name="saveAdd" class="btn btn-sm btn-success px-2 mx-2" type="submit">Save and add another</button>
         <button name="saveOnly" class="btn btn-sm btn-primary px-3 mx-2" type="submit">Save</button>
         <a href="{% url 'allQuizzes' course.code %}" class="btn btn-sm btn-outline-danger me-auto">Cancel</a>
      </div>
   </form>
</div>
<script>
   $(document).ready(function(){
     setTimeout(function(){
       $(".alert").alert('close');
     },4000);
   });
</script>
{% endblock %}