{% extends 'index.html' %}

{% block title %}Attendance | {{ course.name }} {% endblock title %}

{% comment %} {% block profile %}
 {% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
 {{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} {% endcomment %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
           
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
                  Courses</a>
            </li>
            {% comment %} <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'faculty' course.code %}">{{ course.name }}</a></li> {% endcomment %}
{% comment %}             
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'course' course.code %}">{{ course.name }}</a></li> {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Attendace</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->




   <div class="container">
    <h6 class="fw-bold"> Active Quizzes </h6>
    <table class="table text-center shadow">
        {% if active_quizzes %}
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
                <th scope="col">Questions</th>
                <th scope="col">Total Marks</th>

            </tr>
        </thead>
        <tbody class="">
            {% for quiz in active_quizzes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'startQuiz' course.code quiz.id %}">{{quiz.title}}</a></td>
                <td>{{quiz.starts}}</td>
                <td>{{quiz.ends}}</td>
                {% if quiz.total_questions > 0 %}
                <td>{{quiz.total_questions}}</td>
                <td>{{quiz.total_marks}}</td>

                {% else %}
                <td class="text-center">Questions not set yet</td>
                <td class="text-center">0</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th class="text-center">No active quizzes available</th>
            </tr>
            {% endif %}
        </tbody>
    </table>




<h6 class="fw-bold"> Previous Quizzes </h6>
    <table class="table text-center shadow">
        {% if previous_quizzes %}

        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Ended</th>
                <th scope="col">Marks</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>

        <tbody class="">
            {% for quizP in previous_quizzes %}
            {% if quizP.attempted %}

                {% if quizP.publish_status %}

                                
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>
                                    
                                        <a href="{% url 'quizResult' course.code quizP.id %}">{{quizP.title}}</a>
                                        
                                    </td>
                                    <td>{{quizP.ends}}</td>
                                    <td>{{quizP.total_marks_obtained}}/ {{ quizP.total_marks}}</td>
                                    <td> {{ quizP.percentage}}%</td>
                                </tr>


                                {% else %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>
                                    {{quizP.title}}
                                    </td>
                                    <td>{{quizP.ends}}</td>
                                    <td class="text-center text-warning">Not Published</td>
                                    <td class="text-center text-warning">Not Published</td>
                                </tr>



                     {% endif %}
            {% else %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                {{quizP.title}}
                </td>
                <td>{{quizP.ends}}</td>
                <td class="text-center text-danger">Not attempted</td>
                <td class="text-center text-danger">Not attempted</td>
            </tr>
                        
                {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <th scope="col" class="text-center">Not previous quiz attempted</th>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


   

 
</div>

<script>








</script>
 
{% endblock %}