{% extends 'index.html' %}

{% block title %}Attendance | {{ course.name }} {% endblock title %}

{% comment %} {% block profile %}
 {% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
 {{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} {% endcomment %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
           
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
                  Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
                  href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>            
            
            <li class="breadcrumb-item active" aria-current="page"> My Quizz</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->



<h5>Make two tabs/ switch between old and new quizzes</h5>

   <div class="container">
    <h6> Active Quizzes </h6>
    <button id="sort">
        Sort by recent
    </button>
    <button id="sortOld">
        Sort by Oldest
    </button>

    <table class="table text-center">
        {% if active_quizzes %}
        <thead class="bg-light">
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
                <th scope="col">Questions</th>
                <th scope="col">Total Marks</th>

            </tr>
        </thead>
        <tbody class="">
            {% for quiz in active_quizzes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'startQuiz' course.code quiz.id %}">{{quiz.title}}</a></td>
                <td>{{quiz.start}}</td>
                <td>{{quiz.end}}</td>
                {% if quiz.total_questions > 0 %}
                <td>{{quiz.total_questions}}</td>
                <td>{{quiz.total_marks}}</td>

                {% else %}
                <td colspan="2" class="text-center">Questions not set yet</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th scope="col" colspan="4" class="text-center">No active quizzes available</th>
            </tr>
            {% endif %}
        </tbody>
    </table>




<h6> Previous Quizzes </h6>
    <table class="table">
        {% if previous_quizzes %}

        <thead class="bg-light">
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Ended</th>
                <th scope="col">Marks</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>

        <tbody class="">
            {% for quizP in previous_quizzes %}

            <tr>
                <th scope="row">{{forloop.counter}}</th>

                <td>
                    <a href="{% url 'quizResult' course.code quizP.id %}">{{quizP.title}}</a>
                </td>
                <td>{{quizP.end}}</td>
                <td>{{quizP.total_marks_obtained}}/ {{ quizP.total_marks}}</td>
                <td> {{ quizP.percentage}}%</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <th scope="col" colspan="4" class="text-center">Not previous quiz attempted</th>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


   

 
</div>

<script>


 //Do sorting here

</script>
 
{% endblock %}