{% extends 'index.html' %}
{% block title %}Attendance | {{ course.name }} {% endblock title %}
{% comment %} {% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} {% endcomment %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
               Courses</a>
            </li>
            {% comment %} 
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            {% endcomment %}
            {% comment %}             
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'course' course.code %}">{{ course.name }}</a></li>
            {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Attendace</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->



<div class="container">
    <div class="container">
        <h4> Quiz -1 Object oriented programming</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem voluptate voluptatibus aspernatur
            beatae error illum cum magnam. Enim facere modi, architecto tempore inventore explicabo dolor commodi
            accusantium quae vel qui laboriosam excepturi officia quo natus? Quia ipsam sed numquam.
        </p>
        <p>Starting in : 4 minutes 3 seconds</p>
        <p>Ending in : 4 minutes 3 seconds</p>
        <p>Total Questions : </p>
        <p>Marks : </p>
    </div>
    <div class="bg-light p-2 d-flex justify-content-end">
        <button type="button" class=" btn btn-primary">
            Attempt now
        </button>
    </div>


    {% comment %} <form action="{% url 'studentAnswer' course.code quiz.id %}" method="post">
        {% csrf_token %}
    {% for question in questions  %}
    <div>
        <label for="question {{forloop.counter}}">{{question.question}}</label>
        <select name="{{question.id}}" id="question{{forloop.counter}}">
            <option value="A">{{question.option1}}</option>
            <option value="B">{{question.option2}}</option>
            <option value="C">{{question.option3}}</option>
            <option value="D">{{question.option4}}</option>
        </select>
        <input type="hidden" name="question" value="{{question.id}}">
        <input type="hidden" name="quiz" value="{{quiz.id}}">
        <input type="hidden" name="course" value="{{course.code}}">
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form> {% endcomment %}


<form action="{% url 'studentAnswer' course.code quiz.id %}" method="post">
    {% csrf_token %}
{% for question in questions  %}
<div>
    <label for="question {{forloop.counter}}">{{question.question}}</label>
    {% comment %}
    <select name="{{question.id}}" id="question{{forloop.counter}}">
        <option value="A">{{question.option1}}</option>
        <option value="B">{{question.option2}}</option>
        <option value="C">{{question.option3}}</option>
        <option value="D">{{question.option4}}</option>
    </select> 
    
    <input type="radio" name="{{question.id}}" value="A">{{question.option1}}<br>
    <input type="radio" name="{{question.id}}" value="B">{{question.option2}}<br>
    <input type="radio" name="{{question.id}}" value="C">{{question.option3}}<br>
    <input type="radio" name="{{question.id}}" value="D">{{question.option4}}<br>
    
    {% endcomment %}

    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{question.id}}" value="A">
        <label class="form-check-label">
            {{question.option1}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{question.id}}" value="B">
        <label class="form-check-label">
            {{question.option2}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{question.id}}" value="C">
        <label class="form-check-label">
            {{question.option3}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{question.id}}" value="D">
        <label class="form-check-label">
            {{question.option4}}
        </label>
    </div>

    <input type="hidden" name="question" value="{{question.id}}">
    <input type="hidden" name="quiz" value="{{quiz.id}}">
    <input type="hidden" name="course" value="{{course.code}}">


</div>
{% endfor %}
<input type="submit" value="Submit" class="btn btn-sm btn-primary">
</form>




</div>

</div>

{% endblock %}




