{% extends 'index.html' %}
{% block title %}{{quiz.title}} | {{ course.name }} {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<!-- navigation links -->
<div class=" container shadow-sm">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
            Courses</a>
         </li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'allQuizzes' course.code %}">Quizzes</a></li>
         <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">
            {{quiz.title}}
         </li>
      </ol>
   </nav>
</div>
<!-- navigation links end -->
<div class="container shadow-sm rounded border p-3">
   {% if quiz.start < time %}
   <div class="row">
      <div class="col-6">
         <div class="fs-5 fw-bold"> {{quiz.title}} - Summary</div>
         <div>
            <p class="text-break word-break opacity-75"> {{quiz.description}} </p>
         </div>
         <div>
            <p>Student Participated : <span class="fw-bold">{{ quiz.attempted_students}}/{{total_students}}</span></p>
            <p>Total Questions :<span class="fw-bold"> {{ quiz.total_questions}}</span> </p>
         </div>
      </div>
      <div class="col-6 my-4 border-start">
         <p>Start : <span class="fw-bold"> {{quiz.starts}} </span> </p>
         <p>End : <span class="fw-bold"> {{ quiz.ends }} </span></p>
         {% if quiz.total_marks %}
         <p>Total Marks :<span class="fw-bold"> {{ quiz.total_marks }}</span></p>
         {% endif %}
         <p>Quiz Duration : <span class="fw-bold"> {{ quiz.duration }} Hours</span></p>
      </div>
   </div>
   {% if quiz.publish_status %}
   <p class="text-success fw-bold d-flex justify-content-center mb-2">
      Marks Published!
   </p>
   {% else %}
   <div class="d-flex justify-content-center mb-2">
   <form method="post" action=" {% url 'quizSummary' course.code quiz.id %} ">{% csrf_token %}
      <button class="btn btn-sm btn-primary" type="submit"> <span class="px-1">Publish Marks</span> </button>
   </form>
</div>
   {% endif %}
   <div class="d-flex justify-content-center">
      <button id="showMarks"  class="btn btn-sm btn-success mb-1 px-3">Show marks</button>
   </div>
</div>
<div class="container p-3 border rounded" id="allmarks">
   <div class="fw-bold">Marks of students</div>
   {% if quiz.attempted_students %}
   <table class="table text-center">
      <thead>
         <tr>
            <th scope="col">Sl</th>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Marks</th>
            <th scope="col">Submitted on</th>
         </tr>
      </thead>
      <tbody>
         {% for student in students %}
         <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{student.name}}</td>
            <td>{{student.student_id}}</td>
            {% if student.attempted %}
            <td>{{student.total_marks_obtained}} / {{quiz.total_marks}}</td>
            <td>{{student.submission_time}}</td>
            {% else %}
            <td>Did not attempt</td>
            <td>Did not attempt</td>
            {% endif %}
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   <div class="text-center">No students have attempted this quiz</div>
   {% endif %}
</div>
<div class="container">
   {% for question in questions %}
   <div class="d-grid gap-2">
      <button class="bt alert alert-info border" type="button" data-bs-toggle="collapse" data-bs-target="#question{{question.id}}" aria-expanded="false" aria-controls="collapseExample">
      <span class="fw-bold">{{forloop.counter}}. {{question.question}}</span> 
      </button>
   </div>
   <div class="collapse" id="question{{question.id}}">
      <div class="row p-3 mb-3 mx-2 rounded border">
         <div class="col-lg-6 col-md-6 col-sm-12 border-end">
            <p>A : {{question.option1}}</p>
            <p>B : {{question.option2}}</p>
            <p>C : {{question.option3}}</p>
            <p>D : {{question.option4}}</p>
            <p class="fw-bold">Answer : {{question.answer}}</p>
            <p>Marks : {{question.marks}}</p>
            <p>Correct answer recieved : {{ question.total_correct_answers }} </p>
            <p>Wrong answer recieved : {{ question.total_wrong_answers }} </p>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="chart">
               <canvas id="canvas{{question.id}}"></canvas>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
{% else %}
<div class="fw-bold text-center">
   Quiz not started yet
</div>
{% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   var color = [
   '#FFCD56',
   '#36A2EB',
   '#FF4069',
   '#6CBB3C',
   ]
   {% for question in questions %}
    var data{{question.id}} = {
        labels: [
        'A',
        'B',
        'C',
        'D'
        ],
        datasets: [{
            data: [{{question.A}}, {{question.B}}, {{question.C}}, {{question.D}}],
            backgroundColor: color,
            borderColor: color,
            borderWidth: 1,
            hoverBorderColor: 'deepskyblue',
            hoverBorderWidth: 1,
            hoverBorderRadius: 5,
            hoverBorderDash: [5, 5],
            hoverBorderDashOffset: 0.0,
        }]
    };
    {% endfor %}
    {% for question in questions %}
    var ctx{{question.id}} = document.getElementById('canvas{{question.id}}').getContext('2d');
    var myChart{{question.id}} = new Chart(ctx{{question.id}}, {
        type: 'doughnut',
        data: data{{question.id}},
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Responeses',
                }
            }, 
            animation : true,
            animationSteps : 60,
            animationEasing : 'easeOutBounce',
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            },       
            scales: {
                yAxes: [{
                    ticks: {
                        startAtZero: true  
                    }
                }]
            }
        }
    });
    {% endfor %}
   $(document).ready(function () {
    $('.bt').click(function () {
        $('html, body').animate({
            scrollTop: $(document).height()
         }, '1000');
      });
   });
   $('#allmarks').hide();
   $('#showMarks').click(function () {
      $(this).text(function (i, text) {
         return text === "Hide marks" ?  "Show marks" : "Hide marks";
      });
      $('#allmarks').toggle('slow');
   });
</script>
{% endblock %}