{% extends 'index.html' %}
{% load static %}
{% block title %}Attendance | {{ course.name }} {% endblock title %}
{% comment %} {% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %} {% endcomment %}
{% block content %}
<div class="container" id="con">
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
               Courses</a>
            </li>
            {% comment %} 
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            {% endcomment %}
            {% comment %}             
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'course' course.code %}">{{ course.name }}</a></li>
            {% endcomment %}
            <li class="breadcrumb-item active" aria-current="page">Attendace</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="container">
      <div class="container">
         <h4> Quiz -1 Object oriented programming</h4>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem voluptate voluptatibus aspernatur
            beatae error illum cum magnam. Enim facere modi, architecto tempore inventore explicabo dolor commodi
            accusantium quae vel qui laboriosam excepturi officia quo natus? Quia ipsam sed numquam.
         </p>
         <p>Starting in : 4 minutes 3 seconds</p>
         <p>Ending in : 4 minutes 3 seconds</p>
         <p>Total Questions : </p>
         <p>Marks : </p>
      </div>
      {% for question in questions  %}
      {% comment %} show all question with correct ans checked {% endcomment %}
      <div class="container mb-2">
         <div>
            <div class="d-flex justify-content-between mb-3">
               <div>
                  <span class="fw-bold"> Question-{{forloop.counter}}  </span>  {{question.question}} | {{question.marks}} marks
               </div>
               {% if question.student_answer == question.answer  %} <span class="text-success fw-bold"> <img class="mb-1" height ="18" src="{% static 'images/icon/tick.png' %}" alt=""> Correct </span> {% else %} <span class="text-danger fw-bold"> <img height ="16" class="mb-1" src="{% static 'images/icon/cross.png' %}" alt=""> Incorrect </span>  {% endif %} 
            </div>
            <div>
               <p {% if question.student_answer == question.answer and question.answer == 'A' %} class="alert alert-success" {% elif question.student_answer != question.answer and question.student_answer == 'A' %} class="alert alert-danger" {% else %} class="alert alert-light border" {% endif %} style="padding: 0.60rem !important">A : {{question.option1}} </p>
               <p {% if question.student_answer == question.answer and question.answer == 'B' %} class="alert alert-success" {% elif question.student_answer != question.answer and question.student_answer == 'B' %} class="alert alert-danger" {% else %} class="alert alert-light border" {% endif %} style="padding: 0.60rem !important">B : {{question.option2}} </p>
               <p {% if question.student_answer == question.answer and question.answer == 'C' %} class="alert alert-success" {% elif question.student_answer != question.answer and question.student_answer == 'C' %} class="alert alert-danger" {% else %} class="alert alert-light border" {% endif %} style="padding: 0.60rem !important">C : {{question.option3}} </p>
               <p {% if question.student_answer == question.answer and question.answer == 'D' %} class="alert alert-success" {% elif question.student_answer != question.answer and question.student_answer == 'D' %} class="alert alert-danger" {% else %} class="alert alert-light border" {% endif %} style="padding: 0.60rem !important">D : {{question.option4}} </p>
            </div>
         </div>
         Correct answer : 
         <p class="fw-bold text-italic d-inline">{{ question.answer }}</p>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}