{% extends 'index.html' %}
{% load static %}
{% block title %} Assignments | {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<div>
   <!-- navigation links -->
   <div class="container shadow-sm">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
         <ol class="breadcrumb p-3">
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'facultyCourses' %}">My
               Courses</a>
            </li>
            <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
               href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
            <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Assignment</li>
         </ol>
      </nav>
   </div>
   <!-- navigation links end -->
   <div class="container d-flex flex-wrap flex-column">
      <!-- course name starts -->
      <div class="course-section p-3 m-3 shadow-sm d-flex justify-content-center">
         <div class="fw-bold fs-5 course_name">{{course.department}}-{{course.code}} : {{course.name}}</div>
      </div>
      <!-- course name ends -->
      <!-- assignment section starts -->
      <div class="course-section p-3 m-3 shadow">
         <div class="d-flex flex-row justify-content-between edit">
            <h4 class="fw-bold" style="color: rgb(10, 10, 48);"><img src="{% static 'images/icon/open-book.png' %}"
               alt="" style="height:1.5rem"><span style="margin-right: 0.6rem;"></span>Assignment</h4>
            <a style="height:2rem"
               href="{% url 'addAssignment' course.code %}">
            <img src="{% static 'images/icon/iconBlack.png' %}"
               alt="" height="32">
            </a>
         </div>
         <hr>
         <div class="add-announcement">
            {% for assignment in assignments %}
            <!-- individual assignment starts --> 
            <a class="text-bold fs-6" href="{% url 'submission' course.code assignment.id %}">
            {{assignment.title}}</a>
            <div class="d-flex justify-content-between align-items-center">
               <p style="margin-bottom:0;" class="text-muted">Submitted : {{ assignment.submission_set.count}} / {{ studentCount }} </p>
               <p class="fs-6 text-muted" style="margin-bottom:0;">
                  {{assignment.due_date}}
               </p>
            </div>
            <p style="margin-bottom:0;">Submission ends : {{ assignment.due_date }}</p>
            <hr>
            <!-- individual assignment ends -->
            {% empty %}
            <h6 style="text-align:center">No assignments given yet</h6>
            {% endfor %}
         </div>
         <div class="text-center fs-6">
            <p>Showing {{ assignments.count}} of {{course.assignment_set.count}} {% if assignments.count == 1 %}assignment {% else %}assignments{% endif %}</p>
         </div>
      </div>
      <!-- assignment section ends -->
   </div>
</div>
{% endblock %}