{% extends 'index.html' %}
{% load static %}
{% block title %} {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block content %}
<!-- navigation links -->
<div class="container shadow-sm">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
            courses</a>
         </li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
         <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Announcement</li>
      </ol>
   </nav>
</div>
<!-- navigation links end -->
<div class="container">
   <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
         <div class="card border-0 rounded shadow-sm">
            <div class="card-body p-4">
               <div class="text-center">
                  <div class="fw-bold mb-3 text-start">Post Announcement</div>
                  <form method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <!-- title Input -->
                     <div class="mb-3">
                        <input class="form-control" id="title" name="title" maxlength="255" type="text"
                           placeholder="Title" required />
                        <label for="title"></label>
                     </div>
                     <!-- description Input -->
                     <div class="mb-3">
                        <textarea class="form-control" id="description" name="description" type="text"
                           placeholder="Details" style="height: 10rem;" maxlength="2000"
                           required></textarea>
                        <label for="description"></label>
                     </div>
                     <!-- file Input -->
                     <div class="mb-3">
                        <input class="form-control" id="file" name="file" type="file" />
                        <label for="file" class="mt-2"><span class="text-muted">A single file allowed per post. Add "{file}" tag to specify the file position</span></label>
                     </div>
                     <!-- submit button -->
                     <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-primary" type="submit" id="submit">Post</button>
                     </div>
                  </form>
                  <!-- end of form -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   document.getElementById('file').addEventListener('change', function () {
      if (document.getElementById('description').value.indexOf('{file}') == -1) {
         document.getElementById('description').value += '{file}';
      }
      var file = document.getElementById('file').files[0];
      if (file.size > 30000000) {
         alert('File size is too large. Maximum file size is 30MB');
         document.getElementById('file').value = '';
      }
   });
</script>
{% endblock %}