{% extends 'index.html' %}
{% load static %}
{% block title %} {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<!-- navigation links -->
<div class="container shadow-sm">
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
            courses</a>
         </li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
         <li class="breadcrumb-item active" aria-current="page">Assignment</li>
      </ol>
   </nav>
</div>
<!-- navigation links end -->
<div class="container container-announcement">
   <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
         <label for="title" class="form-label">Title:</label>
         <input type="text" class="form-control rounded" id="title" name="title" maxlength="255" required>
      </div>
      <div class="mb-3">
         <label for="content" class="form-label">Details:</label>
         <textarea class="form-control rounded" id="content" rows="3" name="content" maxlength="2000"
            required></textarea>
      </div>
      <div class="mb-3">
         <label for="marks" class="form-label">Marks:</label>
         <input type="number" class="form-control rounded" id="marks" rows="3" name="marks" min="0" max="100"
            required>
      </div>
      <div class="input-group mb-3">
         <input type="file" class="form-control rounded" id="file" aria-describedby="file" aria-label="Upload"
            name="file" required>
      </div>
      <div>
         <label class="form-label">Submission Ends:</label>
         <input class="rounded" type="datetime-local" id="datetime" name="datetime" required>
      </div>
      <div class="d-grid gap-2">
         <button class="btn btn-primary my-2" type="submit">Post</button>
      </div>
   </form>
</div>
{% endblock %}