{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Change Password</title>
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'images/icon/site.webmanifest' %}">
      <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'styles/style.css' %}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   </head>
   <body>
      <div class="container">
      <div style="min-height:85vh" class="row justify-content-center align-items-center">
         <div class="col-lg-5 col-sm-12 p-5 rounded shadow">
            <form action="{% url 'changePasswordFaculty' %}" method="post">
               {% csrf_token %}
               <div class="text-center">
                  <h5 class="mb-3 fw-bold">Change Password</h5>
               </div>
               <div class="mb-3">
                  <label for="oldPassword" class="form-label ">Old Password</label>
                  <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                     placeholder="Enter old password" required>
               </div>
               <div class="mb-3">
                  <label for="newPassword" class="form-label ">New Password</label>
                  <input type="password" class="form-control" id="newPassword" name="newPassword"
                     placeholder="Enter new password" required>
               </div>
               <div class="mb-3">
                  <label for="confirmPassword" class="form-label ">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                     placeholder="Confirm new password" required>
               </div>
               <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Submit</button>
               </div>
               <div class="text-center mt-3">
                  <a href="{% url 'profile' faculty.faculty_id %}">Cancel</a>
               </div>
            </form>
            <p class="text-center mt-3"> <span class="text-muted">logged in as</span>  {{faculty.name}}</p>
            {% if messages %}
            <div class="alert alert-danger mt-3" role="alert">
               {% for message in messages %}
               {{ message }}
               {% endfor %}
               {% endif %}
            </div>
         </div>
      </div>
      <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
   </body>
   <script>
      let oldPassword = document.getElementById('oldPassword');
      let newPassword = document.getElementById('newPassword');
      let confirmPassword = document.getElementById('confirmPassword');
      
      // old and new passwords are same 
      newPassword.addEventListener('input', function () {
          if (oldPassword.value == newPassword.value) {
              newPassword.setCustomValidity('Old and new password cannot be same');
              newPassword.style.color = 'red';
              newPassword.previousElementSibling.style.color = 'red';
          } else {
              newPassword.setCustomValidity('');
              newPassword.style.color = 'black';
              newPassword.previousElementSibling.style.color = 'black';
          }
      });
      //new and confirm passwords are not same
      confirmPassword.addEventListener('input', function () {
          if (newPassword.value != confirmPassword.value) {
              confirmPassword.setCustomValidity('Passwords do not match');
              confirmPassword.style.color = 'red';
              confirmPassword.previousElementSibling.style.color = 'red';
          } else {
              confirmPassword.setCustomValidity('');
              confirmPassword.style.color = 'black';
              confirmPassword.previousElementSibling.style.color = 'black';
          }
      }); 
   </script>
</html>