{% extends 'index.html' %}
{% block title %} {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<!-- navigation links -->
<div class="container shadow-sm">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)" href="{% url 'facultyCourses' %}">My
            courses</a>
         </li>
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'faculty' course.code %}">{{ course.name }}</a></li>
         <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Course material</li>
      </ol>
   </nav>
</div>
<!-- navigation links end -->
<div class="container">
   <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8 shadow-lg rounded p-4">
               <div class="text-center">
                  <div class="fw-bold text-start mb-3">Add course material</div>
                  <div class="form-group">
                     <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                           {{ field.label_tag }}
                           {{ field }}
                           <span style="color:red">{{ field.errors }}</span>
                        </div>
                        {% endfor %}
                        <p class="fw-bold" id="fileError"></p>
                        <!-- submit button -->
                        <div class="d-grid col-12 mx-auto">
                           <button class="btn btn-primary" type="submit">Post</button>
                        </div>
                     </form>
                  </div>
               </div>
      </div>
   </div>
</div>
<script>
   // File size validation
   let fileError = document.getElementById('fileError');
   let file = document.getElementById('file');
   file.addEventListener('change', function () {
      let file = this.files[0];
      if (file.size > 150000000) {
         fileError.innerHTML = "File size can not be more than 150 MB";
         fileError.style.color = 'red';
         this.value = '';
      }
      else {
         fileError.innerHTML = '';
      }
   });
</script>
{% endblock %}