{% extends 'index.html' %}
{% load static %}
{% block title %} {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' faculty.faculty_id %}
{% endblock %}
{% block user %}
{{faculty.name}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
{% comment %} alert {% endcomment %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
   <span> {{ message }}</span>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<!-- navigation links -->
<div class="container shadow-sm">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb p-3">
         <li class="breadcrumb-item fw-bold"><a style="color: rgb(10, 10, 48)"
            href="{% url 'facultyCourses' %}">My Courses</a></li>
         <li class="breadcrumb-item fw-bold animate__animated animate__backInRight"><a class="breadcrumb-item active"
            aria-current="page">{{ course.name }}</a></li>
      </ol>
   </nav>
</div>
<!-- navigation links end -->
<div class="container d-flex flex-wrap flex-column">
   <!-- course name starts -->
   <div class="rounded p-3 m-3 shadow d-flex justify-content-between align-items-center">
      <span></span>
      <h5 id="courseTitle" class="mt-2 fw-bold">{{course.department}}-{{course.code}} : {{course.name}}</h5>
      <div class="dropdown">
         <img class="dropdown-toggle" id="drop" data-bs-toggle="dropdown" aria-expanded="false" src="{% static 'images/icon/dropDown.png' %}"
            alt="Options" height="32">
         <ul class="dropdown-menu">
            <li class="border-bottom">
               <a class="dropdown-item" href="{% url 'discussion' course.code %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots mx-2" viewBox="0 0 16 16">
                     <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                     <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                  Discussion
               </a>
            </li>
            <li class="border-bottom">
               <a class="dropdown-item" href="{% url 'attendance' course.code %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check mx-2" viewBox="0 0 16 16">
                     <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                     <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  Attendance
               </a>
            </li>
            <li>
               <a class="dropdown-item" href="{% url 'allQuizzes' course.code %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text mx-2" viewBox="0 0 16 16">
                     <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                     <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  Quiz
               </a>
            </li>
         </ul>
      </div>
   </div>
   <!-- course name ends -->
   <!-- announcement section starts -->
   <div class="rounded p-3 m-3 shadow border border-top-0 border-end-0 border-bottom-0 border-primary border-5">
      <div class="animate__animated animate__zoomInDown d-flex justify-content-between border-bottom border-1 mb-2">
         <h5 class="fw-bold" style="color: rgb(10, 10, 48);"><img src="{% static 'images/icon/megaphone.png' %}"
            alt="" style="height:1.5rem; vertical-align: text-bottom;"><span style="margin-right: 0.6rem;"></span>Announcement
         </h5>
         <a
            href="{% url 'addAnnouncement' course.code  %}"><img src="{% static 'images/icon/iconBlack.png' %}"
            alt="" height="32"></a>
      </div>
      <div>
         {% for announcement in announcements %}
         <!-- individual announcement starts -->
         <div class="fs-6 text-wrap text-break" id="annDescription{{announcement.id}}">{% autoescape off %}{{announcement.description}}{% endautoescape %}</div>
         <div class="d-flex justify-content-between">
            <div>
               <button type="button" class="btn btn-sm btn-outline-danger" style="border:none" data-bs-toggle="modal"
                  data-bs-target="#announcement{{announcement.id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                     <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                     <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                  <span style="vertical-align:middle">Delete</span> 
               </button>
               <!-- Popup -->
               <div class="modal fade" id="announcement{{announcement.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header" style="border:none">
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close">
                           </button>
                        </div>
                        <div class="modal-body fs-6">
                           Are you sure you want to delete this announcement?
                        </div>
                        <div class="modal-footer" style="border:none">
                           <button type="button" data-bs-dismiss="modal"
                              class="btn btn-sm ">Cancel</button>
                           <a class="btn btn-sm btn-primary"
                              href="{% url 'deleteAnnouncement' course.code announcement.id %}">Confirm</a>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="btn btn-sm btn-outline-success" style="border:none"
                  href="{% url 'editAnnouncement' course.code announcement.id %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                     <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                  <span style="vertical-align:middle">Edit</span> 
               </a>
            </div>
            <div class="add-announcement" style="color:grey;">
               {{announcement.post_date}}
            </div>
         </div>
         <hr>
         <!-- individual announcement ends-->
         {% empty %}
         <p class="fs-6 text-center text-muted">No announcement has been posted</p>
         {% endfor %}
      </div>
   </div>
   <!-- announcement section ends -->
   <!-- assignment section starts -->
   <div class="rounded p-3 m-3 shadow border border-top-0 border-bottom-0 border-end-0 border-danger border-5">
      <div class="animate__animated animate__zoomInLeft d-flex flex-row justify-content-between edit border-bottom border-1 mb-2">
         <h5 class="fw-bold assignmentCls" style="color: rgb(10, 10, 48);"><img src="{% static 'images/icon/open-book.png' %}"
            alt="" style="height:1.5rem; vertical-align: top"><span style="margin-right: 0.6rem;"></span>Assignment</h5>
         <a style="height:2rem"
            href="{% url 'addAssignment' course.code %}">
         <img src="{% static 'images/icon/iconBlack.png' %}"
            alt="" height="32">
         </a>
      </div>
      <div>
         {% for assignment in assignments %}
         <!-- individual assignment starts -->
         <a class="fs-6 fw-bold" href="{% url 'submission' course.code assignment.id %}">
         {{assignment.title}}</a>
         <div class="d-flex justify-content-between">
            <div class="text-muted">
               <p>Submitted : {{ assignment.submission_set.count}} / {{ studentCount }} </p>
            </div>
            <div class="text-muted">
               {{assignment.post_date}}
            </div>
         </div>
         <!-- individual assignment ends -->
         {% empty %}
         <p class="text-center text-muted fs-6">No assignments given yet</p>
         {% endfor %}
      </div>
      <div class="text-center fs-6 text-muted d-flex flex-column border-top border-1">
         {% if assignments %}
         <span class="mt-2" >Showing {{ assignments.count}} of {{course.assignment_set.count}}
         {% if assignments.count == 1 %}assignment {% else %}assignments{% endif %}
         </span>
         <a href="{% url 'allAssignments' course.code %}">Show all</a>
         {% endif %}
      </div>
   </div>
   <!-- assignment section ends -->
   <!-- course material section starts -->
   <div class="rounded p-3 m-3 shadow border border-top-0 border-bottom-0 border-warning border-end-0 border-5" id="material">
      <div class="d-flex flex-row justify-content-between edit border-bottom border-1 mb-2 animate__animated animate__zoomInUp">
         <h5 class="fw-bold" style="color: rgb(10, 10, 48);"><img src="{% static 'images/icon/folder.png' %}"
            alt="" style="height:1.5rem; vertical-align: top"><span style="margin-right: 0.6rem;"></span>Course Material</h5>
         <a
            href="{% url 'addCourseMaterial' course.code  %}"><img src="{% static 'images/icon/iconBlack.png' %}"
            alt="" height="32"></a>
      </div>
      <div>
         {% for material in materials  %}
         <!-- individual material starts -->
         <div class="fs-6 text-break mb-2">{% autoescape off %}{{material.description}}{% endautoescape %}</div>
         {% if  material.file %}
         <a class="fw-bold" href="{{ material.file.url }}"><span style="color:#9400d3" id="materialName">File : {{material.file.name}}</span></a><br>
         {% endif %}
         <!-- Popup -->
         <div class="modal fade" id="materialDel{{material.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="materialBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                  <div class="modal-header" style="border:none">
                     <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                  </div>
                  <div class="modal-body fs-6">
                     Are you sure you want to remove this item?
                  </div>
                  <div class="modal-footer" style="border:none">
                     <button type="button" class="btn btn-sm "
                        data-bs-dismiss="modal">Cancel</button>
                     <a class="btn btn-sm btn-primary"
                        href="{% url 'deleteCourseMaterial' course.code material.id %}">Confirm</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex flex-row justify-content-between">
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
               data-bs-target="#materialDel{{material.id}}" style="border:none">
               <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
               </svg>
               Remove
            </button>
            <div style="color:grey;">
               {{material.post_date}}
            </div>
         </div>
         <hr>
         {% empty %}
         <p class="text-center text-muted fs-6">Course materials not available</p>
         {% endfor %}
         <!-- individual material ends -->
      </div>
   </div>
   <!-- course material section ends-->
</div>
<script>
   $(document).ready(function(){
      setTimeout(function(){
        $(".alert").alert('close');
      },4500);
    });
      var materialName = document.getElementById("materialName").innerHTML;
      var materialName = materialName.replace("materials/", "");
      document.getElementById("materialName").innerHTML = materialName;  
</script> 
{% endblock %}